@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr;
}

label, p, h2 {
    
    color: rgb(197, 197, 197);
}

h1 {
    color: rgb(216, 216, 216);
}

header {
    height: 50px;
    padding: 10px 10px;
}

header>img {
    cursor: pointer;
    width: 111px;
}

@media(max-width: 510px) {

    header {
        display: flex;
        justify-content: center;
    }
}